.nav {
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	background-color: #f0f0f0;

	&__link-box {
		display: flex;
		gap: 2rem;
	}

	&__link {
		border: 1px solid black;
		border-radius: 5px;
		padding: 0.5rem 1.5rem;

		&:hover {
			color: #f0f0f0;
			background-color: black;
		}
	}

	&__title-link {
		border-bottom: 2px solid black;
		padding: 3px 0;
	}

	&__title {
		margin: 0;
	}
}
